.newsList {
  list-style-type: none;
  margin-right: 3em;
}

.newsItemList {
  display: flex;
  padding: 1em;
  box-shadow: 0 1px rgba(0,0,0,.2);
}

.title-author {
  flex-basis: 70%;
}

.title {
  color: black;
}

.author {
  color: gray;
  font-size: 13px;
}

.date-actions {
  display: flex;
  flex-basis: 30%;
}

.news-date {
  flex-basis: 70%;
}

.trash-icon {
  flex-basis: 30%;
  visibility: hidden;
}

.newsItemList:hover {
  cursor: pointer;
}

.newsItemList:hover .trash-icon {
  visibility: initial;
}


