<div *ngIf="newsList && newsList.length">
  <ul class="newsList">
    <li class="newsItemList" *ngFor="let item of newsList" (click)="openUrl(item);">
      <div class="title-author">
        <span *ngIf="item.story_title" class="title">{{ item.story_title }}.&nbsp; </span>
        <span *ngIf="item.title && !item.story_title" class="title">{{ item.title }}.&nbsp; </span>
        <span *ngIf="item.author" class="author">- {{ item.author }} - </span>
      </div>
      <div *ngIf="item.created_at" class="date-actions">
        <div class="news-date">
          <span *ngIf="item.created_at_day === currentDate.getDate(); else yesterday">{{ item.created_at | date:'shortTime' }}</span>
          <ng-template #yesterday>
            <span *ngIf="item.created_at_day === currentDate.getDate()-1; else beforeYesterday">Yesterday</span>
          </ng-template>
          <ng-template #beforeYesterday>
            <span>{{ item.created_at | date:'MMM dd'}}</span>
          </ng-template>
        </div>
        <div class="trash-icon">
          <i class="fa fa-trash" (click)="deleteNews(item);"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
