.header {
  background-color: #303030;
  color: #FFF;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-title {
  margin: 0;
  padding: 1em 0 0.3em 1em;
  font-size: 3em;
}

.subtitle {
  font-size: 1em;
  padding: 0 0 2em 3em;
  margin: 0;
}
